logfile
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
pids
logs
results
tmp


# secrets
.env
.gcloudSecret.json

# editor
.vscode

# dependencies
node_modules/

# dist
dist/

# os metadata
.DS_Store

# coverage
coverage/